<nav class="navbar navbar-default" id="indexNavBar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link bookingButtons" (click) ="home()" id="bookingBrand"> <img src="assets/img/Booking.com.png" alt="Booking.com" height="100%" id="brandImage"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" id="toggleMenu"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
  
  
  
        <div class="collapse navbar-collapse" id="navcol-1">
            
    
        <ul class="nav navbar-nav navbar-right " id="navItems" >
     <form class="form-inline">
      <div class="row">
      <div class="col-lg-offset-0 col-md-offset-0 col-sm-offset-0  col-xs-offset-1 ">
  
  
 
    <!--Manage Mode Property Button here-->
  <span>
        <app-manager-mode></app-manager-mode>
           </span>
    
  
    <!--List Property Button-->
    <span >
  
        <app-listpropertybutton></app-listpropertybutton>
  
     </span>
  
    <!--Sign In Button-->
    
    <!--Sign Up Button-->
        
    
  
    <!--Logged In Button-->
        <span *ngIf="1==1">
          
  <div class="form-group">
                   
    <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle transButton2 bookingButtons3 btn btn-primary navbar-btn" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <div align ="left" ><img   class="profile-img2" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt=""> <span>{{username}}</span> </div></a>
   <div class="dropdown-menu " aria-labelledby="dropdownThemes">
   <ul class ="padContent">
   <li *ngIf ="admin == false"><a class="dropdown-item"  (Click) = "ManageBooking()">Manage Bookings</a></li>
   <li><a class="dropdown-item" (click) ="EditProfile()">Edit Profile</a></li>
  
  
   <div class="dropdown-divider"><hr></div>
   <li><a class="dropdown-item" (click) = "logout()">Sign Out</a></li>
   </ul></div>
   </li>
  </div>
        </span>
  
      </div>
     </div>
     
     </form>
    
   
    </ul>
        </div>
  
  <div class ="col-lg-12 col-xs-12 ">
  
      <ul class ="navList list-inline">
    
                         <li><a class="btn tn-primary buttonlink active"> Accommodation</a> </li>
                        
                        <li><a class="btn tn-primary buttonlink" href ="https://booking.kayak.com/?sid=ce5984b8c33012f919bc10ec7552f201"> Flights</a> </li>
                      <li><a class="btn tn-primary buttonlink" href ="http://www.rentalcars.com/Home.do?affiliateCode=booking-com&adplat=footer&preflang=en"> Rent A Car</a> </li>
                        
                        <li><a class="btn tn-primary buttonlink" href ="https://booking.rideways.com/?utm_source=booking.com&utm_medium=intra&lang=en-gb&currency=ZAR&sid=ce5984b8c33012f919bc10ec7552f201&utm_campaign=cross_product_bar_2&token=DkSw8pjaQEVKjr-s7bgmbGa-6owBCYEu9utvYK1aai0xNTI1NzAxOTMx"> Rent A Airport Taxi</a> </li>
                       <li>
                           </li>
                    </ul>
  
  </div>
  
    </div>
  </nav>

  <span *ngFor ="let property of properties"></span>
<div class="container " >
        <div class="row padContent2">
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                <h3>Manage <span *ngIf ="ownedProperties == null">Property</span>{{ownedProperties}}. </h3>
                <hr>
                <p>Select Property:</p>
   
    <div class="dropdown">

            <button  class=" btn bookingButtons4 btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span *ngIf ="ownedProperties == null">Property</span>{{ownedProperties}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                    <div *ngFor ="let property of properties">
              <li *ngIf = "userID == property.user_Id"><a (click) ="manageProperty(property.prop_name,property.user_Id)">{{property.prop_name}}</a></li>
                    </div>
            </ul>
          </div>
                      <hr>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" >
                      <a class="nav-link active" id="viewBookings-tab" data-toggle="tab" href="#viewBookings" role="tab" aria-controls="viewBookings" aria-selected="true">Reservations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" id="editProperty-tab" data-toggle="tab" href="#editProperty" role="tab" aria-controls="editProperty" aria-selected="false">Edit Property</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" id="Availability-tab" data-toggle="tab" href="#Availability" role="tab" aria-controls="Availability" aria-selected="false">Availability</a>
                    </li>
                    <li class="nav-item hidden">
                        <a class="nav-link disabled" id="PaymentMethod-tab" data-toggle="tab" href="#PaymentMethod" role="tab" aria-controls="PaymentMethod" aria-selected="false">Payment Method</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade" id="viewBookings" role="tabpanel" aria-labelledby="viewBookings-tab">
                            
                            <div *ngFor ="let accBookings of bookings">
                            <div class="row img-rounded padContent " id ="dispDiv" *ngIf ="ownedProperties == accBookings.prop_name"  >
                         
              
    
                        <div class="col-lg-2 col-lg-offset-0 col-md-2 col-sm-2 col-xs-10 col-xs-offset-1 img-rounded">
                            <a> {{accBookings.image}}</a>
                          </div>
                        <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                            <div *ngFor = "let users of user">
                                <div *ngIf ="users.user_Id == accBookings.user_id">
                                    <h4>Name: {{users.name}}</h4>
                                    <h4>Surname: {{users.surname}}</h4>
                                        <h4>Email: {{users.email}} </h4>
                                   
                                            <h4>Phone Number: {{users.phoneNo}}</h4>
                                    
                                </div>

                            </div>
                               
                           
                            
      
                        </div>
                        <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                           
                          <span><h4><span class="glyphicon glyphicon-calendar"> </span>Check In: {{accBookings.checkInDate}}</h4></span>
                          <span><h4><span class="glyphicon glyphicon-calendar"> </span>Check Out: {{accBookings.checkOutDate}}</h4> </span>
                          <span><h4>Visitors: {{accBookings.noOfVisitors}}</h4> </span>
                          <span><h4>Number Of Nights: {{accBookings.nights}}</h4> </span>
                            <!--<p class ="col-lg-12 text-right " >
                                  <button class="btn btn-default  bookingButtons2 " type="button" id="EditBooking" (click)="EditBooking(accBookings.prop_name)">Edit</button>
                                  
                                <button class="btn btn-default  bookingButtons2 " type="button" id="CancelBooking" (click)="CancelBooking(accBookings)">Cancel</button>
                            </p>-->
                          </div>
                        
          
                    
        
                </div>
                </div>
                            </div>



                    <div class="tab-pane fade" id="editProperty" role="tabpanel" aria-labelledby="editProperty-tab">
                         
                    <div class = "container" >
                            <form class="formDisplay padContent2">
                                <h4>Basic Information</h4>
                                <div class ="padContent2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Property name</span>
                                        <input class="form-control" type="text" name="txt_PropertyName" required="" autocomplete="on">
                                    </div>
                                
                                
                                
                                </div><br>
                                    <div class="row">
                                    <div class="col-lg-3 col-md-3"><span>Display Image</span>
                                
                                        <input type="file" name="uploadImage" >
                                        
                                    </div>
                                    
                                    
                                    </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3"><span>Property type</span>
                                        <select class="form-control" required="">
                                            <optgroup label="PropertyType">
                                                <option value="Apartment">Apartment</option>
                                                <option value="Hotel">Hotel</option>
                                                <option value="Lodge">Lodge</option>
                                                <option value="Hotel Home">Hotel Home</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3"><span>The number of rooms</span>
                                        <input class="form-control" type="text" name="txt_noOfRooms" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Price </span>
                                        <input class="form-control" type="text" name="txt_price" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Property website (optional)</span>
                                        <input class="form-control" type="text" name="txt_website">
                                    </div>
                                </div>
                                <br>
                                </div>
                            
                                <h4>Property Address</h4>
                                <div class ="padContent2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Contact name</span>
                                        <input class="form-control" type="text" name="txt_contact" required="" placeholder="Who will recieve this letter">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Street address</span>
                                        <input class="form-control" type="text" name="txt_streetAddress" required="" placeholder="e.g 123 Easy Street">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Address line 2</span>
                                        <input class="form-control" type="text" name="txt_AddressLine2" required="" placeholder="Unit number, suite or building etc.">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Province </span>
                                        <input class="form-control" type="text" name="txt_Province" required="" placeholder="e.g Gauteng">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Country </span>
                                        <input class="form-control" type="text" name="txt_Country" required="" placeholder="e.g South Africa">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>City </span>
                                        <input class="form-control" type="text" name="txt_City" required="" placeholder="e.g Pretoria">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6"><span>Postal Code</span>
                                        <input class="form-control" type="text" name="txt_PostalCode" required="" placeholder="e.g 0198">
                                    </div>
                                </div>
                                <br>
                                </div>
                            </form>
                            
                                
                            
                                
                            
                                
                                
                            
                            <br>
                            <div class="row padContent">
                            
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                                    <button class="btn btn-default btn-block bookingButtons4" type="submit">Edit Property</button>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <button class="btn btn-default btn-block bookingButtons4" type="submit">Delete Property</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Availability" role="tabpanel" aria-labelledby="Availability-tab">
                        <app-availabilty-form></app-availabilty-form>
                    </div>
                
                    <div class="tab-pane fade hidden" id="PaymentMethod" role="tabpanel" aria-labelledby="PaymentMethod-tab">
                        <app-prop-payment-method></app-prop-payment-method>
                   </div>
                   
                   </div>
                   
     
                
            </div>
        </div>
    </div>


    <app-footer></app-footer>
