<div class="container">

  <form action="" class="formDispalpadContent2">
    <label for="">
      Card type:
    </label>
    <select class="form-control" name="cardType" required="" [(ngModel)] = "userPaymentMethod.card_type">
      <optgroup label="CardType">
          <option value="Check">Check</option>
          <option value="Credit">Credit</option>
      </optgroup>
        </select>
        <label for="">
          Card Number:
        </label>
        <input type="text" name="card_number" required  [(ngModel)] = "userPaymentMethod.card_number" >
        <label for="">
          Expiry Date:
        </label>
        <input type="text" name="Expiry_Date" required  [(ngModel)] = "userPaymentMethod.expiry_date" >
        <label for="">
          Security Code:
        </label>
        <input type="password" name="Security_Code" required  [(ngModel)] = "userPaymentMethod.security_code" >
        
  </form>

</div>