
<div class="container">
        
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
               





                <!--Inside Navigation For Forms-->
                    
                   <!--Inside Navigation For Forms-->



               
                    
                       
                        <div class="container ">
                        <form class="formDisplay padContent2">
                           
              <div class ="row padContent2">
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Property name</span>
                                    <input class="form-control" type="text" name="txt_PropertyName" [(ngModel)] = "property.prop_name" required="">
                                </div>
              
                            
              
                            </div>
              <br>
                <div class="row">
                                <div class="col-lg-3 col-md-3"><span>Display Image</span>
              
                                    <input type="file" name="uploadImage" [(ngModel)] = "property.image" >
                  
                                </div>
                
                
                </div>
              <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-3"><span>Property type</span>
                                    <select class="form-control" name="propertyType" required="" [(ngModel)] = "property.prop_type">
                                        <optgroup label="PropertyType">
                                            <option value="Apartment">Apartment</option>
                                            <option value="Hotel">Hotel</option>
                                            <option value="Lodge">Lodge</option>
                                            <option value="Hotel Home">Holiday Home</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3"><span>The number of rooms</span>
                                    <input class="form-control" type="text" name="txt_noOfRooms" [(ngModel)] = "property.numberRoom" required="">
                                </div>
                            </div>
              <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Price </span>
                                    <input class="form-control" type="text" name="txt_price" [(ngModel)] = "property.price" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Property website (optional)</span>
                                    <input class="form-control" type="text" name="txt_website" [(ngModel)] = "property.website">
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Contact name</span>
                                    <input class="form-control" type="text" name="txt_contact" [(ngModel)] = "property.contact_name" required="" placeholder="Who will recieve this letter">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Street address</span>
                                    <input class="form-control" type="text" name="txt_streetAddress" [(ngModel)] = "property.streetAddress" required="" placeholder="e.g 123 Easy Street">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Address line 2</span>
                                    <input class="form-control" type="text" name="txt_AddressLine2" [(ngModel)] = "property.addressline2" required="" placeholder="Unit number, suite or building etc.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Province </span>
                                    <input class="form-control" type="text" name="txt_Province" [(ngModel)] = "property.province" required="" placeholder="e.g Gauteng">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Country </span>
                                    <input class="form-control" type="text" name="txt_Country" [(ngModel)] = "property.country" required="" placeholder="e.g South Africa">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>City </span>
                                    <input class="form-control" type="text" name="txt_City" [(ngModel)] = "property.city" required="" placeholder="e.g Pretoria">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6"><span>Postal Code</span>
                                    <input class="form-control" type="text" name="txt_PostalCode" [(ngModel)] = "property.postal_code" required="" placeholder="e.g 0198">
                                </div>
                            </div>
              <br>
              </div>
                        </form>
                        </div>
            
            <br>
                        <div class="row padContent ">
                            <div class="col-lg-3 col-md-3 ">
                                <button class="btn btn-default btn-block bookingButtons4" type="submit" (click) = "processForm(property.prop_name,
                                property.prop_type,
                                property.numberRoom,
                                property.city,
                                property.contact_name,
                                property.addressline2,
                                property.country,
                                property.image,
                                property.province,
                                property.streetAddress,
                                property.website,
                                property.price,
                                property.postal_code)">Add Property</button>
                            </div>
                        </div>
                   
                
            </div>
        
      </div>
      
